footer.footer
    div.footerLogo
        img.img(src='img/blog-logo.svg' alt='MyOwnBlog logo') 
        span MY OWN BLOG
    ul.footerNav
        li
            img.img(src='img/facebook.svg') 
            a(href='#') Facebook
        li
            img.img(src='img/instagram-sketched.svg')
            a(href='#') Instagram
        li
            img.img(src='img/twitter.svg')
            a(href='#') Twitter 
    p.footerCopyright &copy; by Simos Athanasios - 2020