header.header
    nav
        div#logo
            img(src='img/blog-logo.svg' alt='MyOwnBlog logo')
            a(href='#') MyBlog
        div#signContainer
            button Log In
            button Sign Up