header.header
    nav
        div#logo
            img(src='/img/blog-logo.svg' alt='MyOwnBlog logo')
            a(href='/') MyBlog
        div#signContainer
            a.button(href="/login") Log In
            a.button(href="/signup") Sign Up