extends home

block content
    main
        div.flexContainer
            div.article
                div.articleHeader
                    span=article.title
                div
                    span=article.content
                div.articleFooter
                    div(style="display: flex; justify-content:space-between;")
                        span=article.author
                        span -
                        span=article.date
                    
                    a.button(href="/") Go Back
