extends home

block content
    main
        div.flexContainer
            div.article
                div.articleHeader
                    span=article.title
                div
                    span=article.content
                div.articleFooter
                    span=article.author
                    span
                        a(href="/") Go Back
