doctype html
html 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/var.css')
        link(rel='stylesheet' href='/css/landing.css')
        title My Own Blog 
    body
        include _header

        block content

        include _footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")
        script(type='text/javascript' src="main.js")
        script(type='text/javascript' src="/javascript/login.js")