extends base

block content
    main
     .container.widthFitContent
        div.articleHeader=title
        div(style="margin-bottom:2em;")
            input(type="text" class="title" style="width: -webkit-fill-available;" value=`${article.title}`)
        div
            textarea#articleContent(name="" cols="50" rows="30" )=article.content
        button#edit.button.edit Edit
        input.articleId(type="text" value=`${article._id}` style='display:none') 