<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="landing.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div id="logo">
        <a href="landing.html">MyBlog</a>
      </div>
      <div id="signContainer">
        <button><a href="landing.html">Sign In Later</a></button>
      </div>
    </nav>

    <main id="formMain">
      <div class="container">
        <h1>Create Account To MyBlog</h1>
        <form action="" method="post">
          <div class="formInput">
            <label>First Name</label>
            <input type="text" name="" id="userName" required />
          </div>
          <div class="formInput">
            <label> Last Name</label>
            <input type="text" name="" id="userLastName" required />
          </div>
          <div class="formInput">
            <label>Email</label>
            <input type="email" name="" id="userEmail" required />
          </div>
          <div class="formInput">
            <div>
              Profile Picture
            </div>
            <label for="userPicture">
              <div>
                Upload Picture
              </div>
            </label>

            <input type="file" name="" id="userPicture" required />
          </div>
          <div class="formInput">
            <label for="">New password</label>
            <input type="password" name="" id="password" required />
          </div>
          <div class="formInput">
            <label for="">Retype password</label>
            <input type="password" name="" id="passwordRetype" required />
          </div>
          <input type="submit" />
        </form>
      </div>
    </main>
  </body>
</html>
