<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="landing.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div id="logo">
        <a href="landing.html">MyBlog</a>
      </div>
      <div id="signContainer">
        <button><a href="form.html">Sign Up</a></button>
      </div>
    </nav>

    <main id="formMain">
      <div class="container flexColumn">
        <input type="text" name="" id="" placeholder="username" />
        <input type="password" name="" id="" placeholder="password" />
        <input type="submit" name="" id="" value="Login" />
      </div>
    </main>
  </body>
</html>
