extends base

block content
    main#formMain
        form.container.flexColumn
            .center=title
            div Email
            input(type="text" id="email" placeholder="address@example.com" required)
            div Password
            input(type="password" id="password" placeholder="*******" required)
            input.button(type="submit" value="Login")