extends base

block content
    main#formMain
        .container.flexColumn
            div.center=title
            input(type="text" placeholder="username")
            input(type="password" placeholder="password")
            input(type="submit" value="Login")