extends base

block content
    main#formMain
        .container
            div=title
            form.gridContainer
                .formInput
                    label Name
                    input(type="text" id="userName" required)
                .formInput
                    label Email
                    input(type="email" id="userEmail" required)
                .formInput
                    label Password
                    input(type="password" id="password" required)
                .formInput
                    label Confirm Password
                    input(type="password" id="passwordConfirm" required)
                .formInput
                    input.button#userSignUp(type='submit')