<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="landing.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div id="logo">
        <a href="landing.html">MyBlog</a>
      </div>
      <div id="signContainer">
        <button>Home</button>
        <button>Your Articles</button>
        <button>Sign Out</button>
      </div>
    </nav>
    <main>
      <div class="flexContainer">
        <div class="article">
          <div class="articleHeader">
            <span>Article#1</span>
            <img src="images/fast-food.svg" alt="" width="50" height="50" />
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quae
            vel ducimus tempora laboriosam? Pariatur, velit provident sit veniam
            praesentium aliquam molestias. Quae labore earum quo tenetur aperiam
            impedit qui. Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Nam reiciendis animi odit dolorem exercitationem numquam quam
            dicta, id dolore aut soluta deserunt facere velit beatae iusto
            ducimus sunt debitis natus.
          </div>

          <div class="articleFooter">
            <span>Editor's Name</span>
            <div style="margin-left: auto;">
              <button class="edit">Edit</button>
              <button class="delete">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
