html {
  height: 100%;
  font-size: large;
}
body {
  margin: 0;
  font-family: 'Roboto';
  background: var(--GreenLight);
}
* {
  outline: none;
}

body * {
  transition: all 0.1s linear;
}

main {
  /* height: 90vh; */
  margin-top: 10vh;
}

nav {
  background-color: var(--GreenDark);
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  min-height: 6vh;
  height: fit-content;
  height: -moz-fit-content;
  position: fixed;
  width: 100%;
  top: 0;
}

button {
  background: transparent;
  font-weight: bold;
  border: none;
  color: var(--Light);
  cursor: pointer;
}

input {
  border: none;
  font-size: large;
  text-align: center;
}

nav div {
  margin: auto;
}

.gridContainer {
  display: grid;
  display: -moz-grid;
  grid-template-columns: auto auto;
}

a {
  text-decoration: none;
  color: var(--Dark);
}

a:hover {
  color: var(--GreenMD);
}

h1 {
  text-align: center;
}

input,
label[for='userPicture'] div {
  border-radius: 1em;
}

input[type='file'] {
  display: none;
}

label[for='userPicture'] div {
  padding: 0 0.5em;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  padding: 0.5em;
}

input[type='submit'] {
  width: fit-content;
  background: var(--MainText);
  color: var(--GreenMD);
  font-weight: bold;
  grid-column: 2;
  margin: 0 0 0 auto;
  cursor: pointer;
}

label[for='userPicture'] div {
  background: var(--Light);
  width: fit-content;
  width: -moz-fit-content;
  cursor: pointer;
}
button a {
  color: var(--Light);
}

#logo {
  display: flex;
}

#logo img {
  height: 1em;
  margin: auto 0.5em auto 0;
}

#logo a {
  cursor: pointer;
  color: var(--Light);
}

.flexContainer {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin: auto;
}

/* .article:first-of-type {
  margin-top: 10vh;
} */

.article {
  background-color: var(--GreenDark);
  border-radius: 5px;
  padding: 1em;
  margin: 2em 0;
  text-align: center;
  color: var(--MainText);
  display: flex;
  flex-direction: column;
  /* width: fit-content;
  width: -moz-fit-content; */
  /* box-shadow: 0px 1px 10px 5px var(--GreenDark); */
}

.articleHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.2rem;
  /* border-bottom: 1px dotted var(--MainText); */
}

.articleHeader span {
  margin: auto;
  white-space: break-spaces;
}

.articleFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  font-style: italic;
}

.articleFooter a{
  font-style: normal;
}

.articleFooter span{
  margin: 0 .5em;
}

button.edit {
  background: #e8a41a;
  border-radius: 1em;
}

button.delete {
  background: #ea5770;
  border-radius: 1em;
}
button.create {
  background: #49c487;
  border-radius: 1em;
}
#formMain {
  display: flex;
  flex-direction: column-reverse;
  min-height: 75vh;
}

.button {
  background: var(--GreenMD);
  border-radius: 2em;
  padding: 2px 10px;
  color: var(--MainText);
}

.button:hover {
  /* background: var(--GreenDark); */
  color: var(--GreenDark);
}

.container {
  margin: auto;
  background: var(--GreenMedium);
  border-radius: 0.5em;
  width: fit-content;
  width: -moz-fit-content;
  box-shadow: 0px 0px 10px var(--GreenDark);
  padding: 1em;
  text-align: center;
}

.formInput {
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-align: center;
}

.hiddenContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

#signContainer a {
  margin: 0 0.5em;
}


#messageContainer{
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  width: -moz-fit-content;
  display: flex;
  margin: 1em auto;
  padding: 1em;
  color: var(--MainText)
}

.container.flexColumn {
  height: 30vh;
  width: 20vw;
  justify-content: space-around;
}
.widthFitContent {
  width: fit-content;
  width: -moz-fit-content;
}

#signContainer{
  display: flex;
}

.profileContainer{
  display: flex;
}

.username{
  color:var(--MainText);
  font-weight: bold;
  margin: auto 1em;
  text-transform: capitalize;
}

.profilePicture{
  height: 2rem;
  background: var(--MainText);
  border-radius: 50%;
  width: 2rem;
}



.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.footerLogo {
  display: flex;
}

.footerLogo img {
  margin-right: 0.5em;
}

.footerLogo > * {
  margin: auto 0;
}

.footerNav {
  list-style: none;
  display: flex;
  padding: 0;
}

.footerNav li {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.footer .img {
  height: 2rem;
}

.footerCopyright {
  margin: auto 0;
}

@media(min-width: 991px){
  /* width */
  ::-webkit-scrollbar {
    width: .8rem;
    background:  var(--GreenDark);
  }

  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px var(--GreenDark);  */
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--GreenMedium);
    border-radius: 10px;
  }

}

@media (max-width: 1250px) {
  html,
  input {
    font-size: medium;
  }

  .container.flexColumn {
    height: 30vh;
    width: 50vw;
    justify-content: space-evenly;
  }
}

@media (max-width: 991px) {
  html,
  input {
    font-size: small;
  }

  .flexContainer {
    max-width: 90vw;
  }

  #formMain .container{
    max-width: 90vw;
  }

  .gridContainer{
    grid-template-columns: 1fr;
  }
}
